<%= form_for(@sked) do |f| %>
  <% if @sked.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sked.errors.count, "error") %> prohibited this sked from being saved:</h2>
      <ul>
      <% @sked.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <b>M-W-F</b>
	<%= select 'sked', 'mwf1', %w(None 1Employability 2Employability 3Employability 4Employability 5Employability
	                              1English 2English 3English 4English 5English 
								  1Math 2Math 3Math 4Math 5Math
								  1Reading 2Reading 3Reading 4Reading 5Reading 
								  1Science 2Science 3Science 4Science 5Science
								  1SocStudies 2SocStudies 3SocStudies 4SocStudies 5SocStudies
								  1Writing 2Writing 3Writing 4Writing 5Writing) %>
  </div>
  <div class="field">
    <b>M-W-F</b>
	<%= select 'sked', 'mwf2', %w(None 1Employability 2Employability 3Employability 4Employability 5Employability 1English 2English 3English 4English 5English 1Math 2Math 3Math 4Math 5Math 1Reading 2Reading 3Reading 4Reading 5Reading 1Science 2Science 3Science 4Science 5Science 1SocStudies 2SocStudies 3SocStudies 4SocStudies 5SocStudies 1Writing 2Writing 3Writing 4Writing 5Writing) %>
  </div>
  <div class="field">
    <b>M-W-F</b>
   	<%= select 'sked', 'mwf3', %w(None 1Employability 2Employability 3Employability 4Employability 5Employability 1English 2English 3English 4English 5English 1Math 2Math 3Math 4Math 5Math 1Reading 2Reading 3Reading 4Reading 5Reading 1Science 2Science 3Science 4Science 5Science 1SocStudies 2SocStudies 3SocStudies 4SocStudies 5SocStudies 1Writing 2Writing 3Writing 4Writing 5Writing) %>
  </div>
  <div class="field">
    <b>T-Th</b>
	<%= select 'sked', 'tth1', %w(None 1Employability 2Employability 3Employability 4Employability 5Employability 1English 2English 3English 4English 5English 1Math 2Math 3Math 4Math 5Math 1Reading 2Reading 3Reading 4Reading 5Reading 1Science 2Science 3Science 4Science 5Science 1SocStudies 2SocStudies 3SocStudies 4SocStudies 5SocStudies 1Writing 2Writing 3Writing 4Writing 5Writing) %>
  </div>
  <div class="field">
    <b>T-Th</b>
	<%= select 'sked', 'tth2', %w(None 1Employability 2Employability 3Employability 4Employability 5Employability 1English 2English 3English 4English 5English 1Math 2Math 3Math 4Math 5Math 1Reading 2Reading 3Reading 4Reading 5Reading 1Science 2Science 3Science 4Science 5Science 1SocStudies 2SocStudies 3SocStudies 4SocStudies 5SocStudies 1Writing 2Writing 3Writing 4Writing 5Writing) %>
  </div>
  <div class="field">
    <b>T-Th</b>
	<%= select 'sked', 'tth3', %w(None 1Employability 2Employability 3Employability 4Employability 5Employability 1English 2English 3English 4English 5English 1Math 2Math 3Math 4Math 5Math 1Reading 2Reading 3Reading 4Reading 5Reading 1Science 2Science 3Science 4Science 5Science 1SocStudies 2SocStudies 3SocStudies 4SocStudies 5SocStudies 1Writing 2Writing 3Writing 4Writing 5Writing) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
